###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

settings ={}
    Xpresion = "Xpresion::"
    RegExp = "RegExp::"
@
    
#plugins =[{}]
#    # include 'doc' plugin from plugins folder
#    "doc" = "!plg:doc"
#@

tasks =[{}]
    
    build =[{}]
        
        src =[]

            !tpl:umd-header.tpl.js  # include a umd-header template
            
            # core Classes
            ./src/FILTER.js
            ./src/core/Filter.js
            ./src/core/Color.js
            ./src/core/Image.js
            ./src/core/Loader.js

            # image loaders for various image formats
            ./src/loaders/HTMLImageLoader.js
            
            # generic Filters
            ./src/filters/CompositeFilter.js
            ./src/filters/CustomFilter.js
            ./src/filters/ColorMatrixFilter.js
            ./src/filters/TableLookupFilter.js
            ./src/filters/DisplacementMapFilter.js
            ./src/filters/GeometricMapFilter.js
            ./src/filters/ConvolutionMatrixFilter.js
            ./src/filters/MorphologicalFilter.js
            ./src/filters/StatisticalFilter.js
            
            # svg and css based generic Filters (TODO)
            #./src/filters/SVGFilter.js
            #./src/filters/CSSFilter.js
            
            # webgl generic Filters (TODO)
            #./src/filters/WebGLFilter.js
            #./src/filters/webgl/ColorMatrixFilter.js
            #./src/filters/webgl/ConvolutionMatrixFilter.js
            #./src/filters/webgl/DisplacementMapFilter.js
            #./src/filters/webgl/GeometricMapFilter.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template

        @

        # extract header from this file
        header = ./src/FILTER.js

        # Text replacements
        replace =[{}]
            
            "@@ROOT@@" = "this"
            "@@EXPORTS@@" = "exports"
            "@@VERSION@@" = "0.7-alpha2"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
            "@@DEPENDENCIES@@" = "@dependencies: Classy.js, Asynchronous.js"
            "@@USE_STRICT@@" = '"use strict";'
            "@@MODULE_NAME@@" = "FILTER"
            "@@MODULE_DEPENDENCIES@@" = "[ ['Classy', 'Asynchronous'], ['./classy.js', './asynchronous.js'] ]"
            "@@MODULE_ARGUMENTS@@"  = "Classy, Asynchronous"
            
        @


        out = ./build/filter.js
        
    @
    
    build_plugins =[{}]
        
        src =[]

            # sample FILTER Plugins
            !tpl:umd-header.tpl.js  # include a umd-header template
            
            ./src/plugins/Plugin.js
            ./src/plugins/Noise.js
            ./src/plugins/Equalize.js
            ./src/plugins/GrayscaleEqualize.js
            ./src/plugins/RGBEqualize.js
            ./src/plugins/Pixelate.js
            ./src/plugins/TriangularPixelate.js
            #./src/plugins/HexagonalPixelate.js
            ./src/plugins/HSVConverter.js
            #./src/plugins/YCbCrConverter.js
            ./src/plugins/HueExtractor.js
            ./src/plugins/ChannelCopy.js
            ./src/plugins/AlphaMask.js
            ./src/plugins/Blend.js
            ./src/plugins/Threshold.js
            ./src/plugins/Bokeh.js
            ./src/plugins/FloodFill.js
            ./src/plugins/CannyEdges.js
            ./src/plugins/PerlinNoise.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template

        @

        # extract header from this file
        header = ./src/plugins/Plugin.js

        # Text replacements
        replace =[{}]
            
            "@@ROOT@@" = "this"
            "@@EXPORTS@@" = "exports"
            "@@VERSION@@" = "0.7-alpha2"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
            "@@DEPENDENCIES@@" = "@dependencies: Filter.js"
            "@@USE_STRICT@@" = '"use strict";'
            "@@MODULE_NAME@@" = "FILTER_PLUGINS"
            "@@MODULE_DEPENDENCIES@@" = "[ ['FILTER'], ['./filter.js'] ]"
            "@@MODULE_ARGUMENTS@@"  = "FILTER"
            
        @


        out = ./build/filter.plugins.js
        
    @
    
    minify =[{}]
        
        src =[]

            ./build/filter.js

        @


        # extract documentation from the source (map)
        #doc ={}
        #
        #    "startdoc" = "/**[DOC_MARKDOWN]"
        #    "enddoc" = "[/DOC_MARKDOWN]**/"
        #    "trimx" = "\\s*\\*[ ]?"
        #    "output" = "./filter-reference.md"
        #    
        #@


        # Minify the Package (map of lists)
        minify ={}

            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
        @

        out = ./build/filter.min.js
    
    @
    
    minify_plugins =[{}]
        
        src =[]

            ./build/filter.plugins.js

        @


        # extract documentation from the source (map)
        #doc ={}
        #
        #    "startdoc" = "/**[DOC_MARKDOWN]"
        #    "enddoc" = "[/DOC_MARKDOWN]**/"
        #    "trimx" = "\\s*\\*[ ]?"
        #    "output" = "./plugin-reference.md"
        #
        #@


        # Minify the Package (map of lists)
        minify ={}

            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
        @


        out = ./build/filter.plugins.min.js
    
    @
    
    bundle =[{}]
        
        bundle =[]

            ./build/classy.js
            ./build/asynchronous.js
            ./build/filter.min.js
            ./build/filter.plugins.min.js

        @


        out = ./build/filter.bundle.js
    
    @

@
