###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

settings ={}
    Xpresion = "Xpresion::"
    RegExp = "RegExp::"
@
    
plugins =[{}]
    # include 'minify' plugin from plugins folder
    "minify" = "!plg:minify"
#    # include 'doc' plugin from plugins folder
#    "doc" = "!plg:doc"
@

tasks =[{}]
    
    build =[{}]
        
        src =[]

            !tpl:umd-header-deps.tpl.js  # include a umd-header template
            
            # core Classes (should be included always)
            ./src/FILTER.js
            ./src/core/Filter.js
            ./src/core/Math.js
            
            # needed interpolation routines
            ./src/interpolation/crop_pad.js
            ./src/interpolation/bilinear.js
            
            ./src/core/Canvas.js
            ./src/core/Color.js
            ./src/core/Image.js
            ./src/core/Loader.js

            # image loaders for various image formats
            ./src/loaders/HTMLImageLoader.js
            
            # generic Filters
            ./src/filters/CompositeFilter.js
            ./src/filters/InlineFilter.js
            ./src/filters/ColorMatrixFilter.js
            ./src/filters/TableLookupFilter.js
            ./src/filters/DisplacementMapFilter.js
            ./src/filters/GeometricMapFilter.js
            ./src/filters/ConvolutionMatrixFilter.js
            ./src/filters/MorphologicalFilter.js
            ./src/filters/StatisticalFilter.js
            
            ./src/utils/perlin.js # needed for generating PerlinNoise images
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template

        @

        # extract header from this file
        header = ./src/FILTER.js

        # Text replacements
        replace =[{}]
            
            "@@ROOT@@" = "this"
            "@@VERSION@@" = "0.8.0"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
            "@@DEPENDENCIES@@" = "@dependencies: Classy.js, Asynchronous.js"
            "@@USE_STRICT@@" = '"use strict";'
            "@@MODULE@@" = "FILTER"
            "@@DEPNAMES@@" = "'Classy','Asynchronous'"
            "@@DEPS@@"  = "Classy,Asynchronous"
            
        @


        out = ./build/filter.js
        
    @
    
    build_webgl =[{}]
        
        src =[]

            !tpl:umd-header-plugin.tpl.js  # include a umd-header template
            
            # webgl generic Filters (TODO)
            ./src/webgl/header.js
            ./src/webgl/WebGL.js
            ./src/webgl/WebGLFilter.js
            ./src/webgl/WebGLColorMatrixFilter.js
            ./src/webgl/WebGLConvolutionMatrixFilter.js
            ./src/webgl/WebGLDisplacementMapFilter.js
            ./src/webgl/WebGLGeometricMapFilter.js
            
            # svg and css based generic Filters (TODO)
            ./src/webgl/SVGFilter.js
            ./src/webgl/CSSFilter.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template

        @

        # extract header from this file
        header = ./src/webgl/header.js

        # Text replacements
        replace =[{}]
            
            "@@ROOT@@" = "this"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
            "@@DEPENDENCIES@@" = "@dependencies: Filter.js"
            "@@USE_STRICT@@" = '"use strict";'
            "@@PLUGIN@@" = "FILTER_WEBGL"
            "@@MODULE@@" = "FILTER"
            
        @


        out = ./build/filter.webgl.js
        
    @
    
    build_codecs =[{}]
        
        src =[]

            !tpl:umd-header-plugin.tpl.js  # include a umd-header template
            
            # (extra) (native) image codecs for various image formats
            ./src/codecs/header.js
            ./src/utils/zlib.js # needed by PNG decoder
            ./src/codecs/PNG.js
            ./src/codecs/JPG.js
            ./src/codecs/BMP.js
            ./src/codecs/GIF.js
            ./src/codecs/TGA.js
            ./src/codecs/RGBE.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template

        @

        # extract header from this file
        header = ./src/codecs/header.js

        # Text replacements
        replace =[{}]
            
            "@@ROOT@@" = "this"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
            "@@DEPENDENCIES@@" = "@dependencies: Filter.js"
            "@@USE_STRICT@@" = '"use strict";'
            "@@PLUGIN@@" = "FILTER_CODECS"
            "@@MODULE@@" = "FILTER"
            
        @


        out = ./build/filter.codecs.js
        
    @
    
    build_interpolation =[{}]
        
        src =[]

            !tpl:umd-header-plugin.tpl.js  # include a umd-header template
            
            # (extra) interpolation routines
            ./src/interpolation/header.js
            ./src/interpolation/nearest.js
            ./src/interpolation/bicubic.js
            #./src/interpolation/biquadric.js
            #./src/interpolation/lanczos.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template

        @

        # extract header from this file
        header = ./src/interpolation/header.js

        # Text replacements
        replace =[{}]
            
            "@@ROOT@@" = "this"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
            "@@DEPENDENCIES@@" = "@dependencies: Filter.js"
            "@@USE_STRICT@@" = '"use strict";'
            "@@PLUGIN@@" = "FILTER_INTERPOLATION"
            "@@MODULE@@" = "FILTER"
            
        @


        out = ./build/filter.interpolation.js
        
    @
    
    build_transform =[{}]
        
        src =[]

            !tpl:umd-header-plugin.tpl.js  # include a umd-header template
            
            # data transforms (fft, etc..) (todo)
            ./src/transforms/header.js
            ./src/transforms/fft.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template

        @

        # extract header from this file
        header = ./src/transforms/header.js

        # Text replacements
        replace =[{}]
            
            "@@ROOT@@" = "this"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
            "@@DEPENDENCIES@@" = "@dependencies: Filter.js"
            "@@USE_STRICT@@" = '"use strict";'
            "@@PLUGIN@@" = "FILTER_TRANSFORMS"
            "@@MODULE@@" = "FILTER"
            
        @


        out = ./build/filter.transform.js
        
    @
    
    build_machinelearning =[{}]
        
        src =[]

            !tpl:umd-header-plugin.tpl.js  # include a umd-header template
            
            # machine learning, classification, clustering, etc.. (todo)
            ./src/ml/header.js
            ./src/ml/singular_value_decomposition.js
            ./src/ml/expectation_maximisation.js
            ./src/ml/deterministic_annealing.js
            ./src/ml/kmeans.js
            ./src/ml/meanshift.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template

        @

        # extract header from this file
        header = ./src/ml/header.js

        # Text replacements
        replace =[{}]
            
            "@@ROOT@@" = "this"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
            "@@DEPENDENCIES@@" = "@dependencies: Filter.js"
            "@@USE_STRICT@@" = '"use strict";'
            "@@PLUGIN@@" = "FILTER_ML
            "@@MODULE@@" = "FILTER"
            
        @


        out = ./build/filter.ml.js
        
    @
    
    build_plugins =[{}]
        
        src =[]

            # sample FILTER Plugins
            !tpl:umd-header-plugin.tpl.js  # include a umd-header template
            
            ./src/plugins/header.js
            ./src/plugins/Noise.js
            ./src/plugins/Equalize.js
            ./src/plugins/Pixelate.js
            ./src/plugins/TriangularPixelate.js
            #./src/plugins/HexagonalPixelate.js (TODO)
            ./src/plugins/Halftone.js
            ./src/plugins/Bokeh.js
            ./src/plugins/SeamlessTile.js
            ./src/plugins/FloodFill.js
            ./src/plugins/HSVConverter.js
            #./src/plugins/YCbCrConverter.js
            ./src/plugins/Threshold.js
            ./src/plugins/HueExtractor.js
            ./src/plugins/CannyEdges.js
            ./src/plugins/HaarDetector.js
            #./src/plugins/LipContourExtractor.js (TODO)
            ./src/plugins/ChannelCopy.js
            ./src/plugins/AlphaMask.js
            ./src/plugins/Blend.js
            #./src/plugins/RGBSplit.js (TODO?)
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template

        @

        # extract header from this file
        header = ./src/plugins/header.js

        # Text replacements
        replace =[{}]
            
            "@@ROOT@@" = "this"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
            "@@DEPENDENCIES@@" = "@dependencies: Filter.js"
            "@@USE_STRICT@@" = '"use strict";'
            "@@PLUGIN@@" = "FILTER_PLUGINS"
            "@@MODULE@@" = "FILTER"
            
        @


        out = ./build/filter.plugins.js
        
    @
    
    minify =[{}]
        
        src =[]

            ./build/filter.js

        @


        # extract documentation from the source (map)
        #doc ={}
        #
        #    "startdoc" = "/**[DOC_MARKDOWN]"
        #    "enddoc" = "[/DOC_MARKDOWN]**/"
        #    "trim" = "\\s*\\*[ ]?"
        #    "output" = "./filter-reference.md"
        #    
        #@


        # Minify the Package (map of lists)
        minify ={}

            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
        @

        out = ./build/filter.min.js
    
    @
    
    minify_plugins =[{}]
        
        src =[]

            ./build/filter.plugins.js

        @


        # extract documentation from the source (map)
        #doc ={}
        #
        #    "startdoc" = "/**[DOC_MARKDOWN]"
        #    "enddoc" = "[/DOC_MARKDOWN]**/"
        #    "trim" = "\\s*\\*[ ]?"
        #    "output" = "./plugin-reference.md"
        #
        #@


        # Minify the Package (map of lists)
        minify ={}

            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
        @


        out = ./build/filter.plugins.min.js
    
    @
    
    
    minify_codecs =[{}]
        
        src =[]

            ./build/filter.codecs.js

        @


        # extract documentation from the source (map)
        #doc ={}
        #
        #    "startdoc" = "/**[DOC_MARKDOWN]"
        #    "enddoc" = "[/DOC_MARKDOWN]**/"
        #    "trim" = "\\s*\\*[ ]?"
        #    "output" = "./plugin-reference.md"
        #
        #@


        # Minify the Package (map of lists)
        minify ={}

            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
        @


        out = ./build/filter.codecs.min.js
    
    @
    
    bundle =[{}]
        
        bundle =[]

            ./build/classy.js
            ./build/asynchronous.js
            ./build/filter.min.js
            #./build/filter.webgl.js
            #./build/filter.interpolation.js
            #./build/filter.transform.js
            #./build/filter.ml.js
            ./build/filter.codecs.min.js
            ./build/filter.plugins.min.js

        @


        out = ./build/filter.bundle.js
    
    @

@
