.sprite.#animation-class#
{
    width: #width#px; height: #height#px;
    background-color: #background-color#;
    background-image: url("#sprite#");
    background-repeat: none;
    background-position: 0% 0%;
    background-size: auto auto;
    -webkit-animation-name: #animation-name#;
    -webkit-animation-duration: #animation-duration#;
    -webkit-animation-delay: #animation-delay#;
    -webkit-animation-timing-function: #animation-timing#;
    -webkit-animation-iteration-count: #animation-iteration#;
    -moz-animation-name: #animation-name#;
    -moz-animation-duration: #animation-duration#;
    -moz-animation-delay: #animation-delay#;
    -moz-animation-timing-function: #animation-timing#;
    -moz-animation-iteration-count: #animation-iteration#;
    -ms-animation-name: #animation-name#;
    -ms-animation-duration: #animation-duration#;
    -ms-animation-delay: #animation-delay#;
    -ms-animation-timing-function: #animation-timing#;
    -ms-animation-iteration-count: #animation-iteration#;
    -o-animation-name: #animation-name#;
    -o-animation-duration: #animation-duration#;
    -o-animation-delay: #animation-delay#;
    -o-animation-timing-function: #animation-timing#;
    -o-animation-iteration-count: #animation-iteration#;
    animation-name: #animation-name#;
    animation-duration: #animation-duration#;
    animation-delay: #animation-delay#;
    animation-timing-function: #animation-timing#;
    animation-iteration-count: #animation-iteration#;
}
.sprite.responsive-sprite.#animation-class#
{
     width: 100% !important; height: auto !important; /* responsive dimensions */
     padding-bottom: #aspect-ratio# !important; /* maintain aspect-ratio with responsive padding-bottom */
     background-size: #background-size# !important; /* responsive background-size */
}
#animation-keyframes#
