.sprite.spriteanimation-class
{
    width: 300px; height: 521px;
    background-color: transparent;
    background-image: url("./spriteanimation.png");
    background-repeat: none;
    background-position: 0% 0%;
    background-size: auto auto;
    -webkit-animation-name: spriteanimation-grid-x, spriteanimation-grid-y;
    -webkit-animation-duration: 0.6666666666666666s, 1.3333333333333333s;
    -webkit-animation-delay: 0s, 0s;
    -webkit-animation-timing-function: steps(8), steps(2);
    -webkit-animation-iteration-count: infinite, infinite;
    -moz-animation-name: spriteanimation-grid-x, spriteanimation-grid-y;
    -moz-animation-duration: 0.6666666666666666s, 1.3333333333333333s;
    -moz-animation-delay: 0s, 0s;
    -moz-animation-timing-function: steps(8), steps(2);
    -moz-animation-iteration-count: infinite, infinite;
    -ms-animation-name: spriteanimation-grid-x, spriteanimation-grid-y;
    -ms-animation-duration: 0.6666666666666666s, 1.3333333333333333s;
    -ms-animation-delay: 0s, 0s;
    -ms-animation-timing-function: steps(8), steps(2);
    -ms-animation-iteration-count: infinite, infinite;
    -o-animation-name: spriteanimation-grid-x, spriteanimation-grid-y;
    -o-animation-duration: 0.6666666666666666s, 1.3333333333333333s;
    -o-animation-delay: 0s, 0s;
    -o-animation-timing-function: steps(8), steps(2);
    -o-animation-iteration-count: infinite, infinite;
    animation-name: spriteanimation-grid-x, spriteanimation-grid-y;
    animation-duration: 0.6666666666666666s, 1.3333333333333333s;
    animation-delay: 0s, 0s;
    animation-timing-function: steps(8), steps(2);
    animation-iteration-count: infinite, infinite;
}
.sprite.responsive.spriteanimation-class
{
     padding-bottom: 173.66666666666666% !important; /* maintain aspect-ratio with responsive padding-bottom */
     background-size: 800% 200% !important; /* responsive background-size */
}
@-webkit-keyframes spriteanimation-grid-x {
    0% { background-position-x: 0%; }
    100% { background-position-x: -800%; }
}
@-moz-keyframes spriteanimation-grid-x {
    0% { background-position-x: 0%; }
    100% { background-position-x: -800%; }
}
@-ms-keyframes spriteanimation-grid-x {
    0% { background-position-x: 0%; }
    100% { background-position-x: -800%; }
}
@-o-keyframes spriteanimation-grid-x {
    0% { background-position-x: 0%; }
    100% { background-position-x: -800%; }
}
@keyframes spriteanimation-grid-x {
    0% { background-position-x: 0%; }
    100% { background-position-x: -800%; }
}

@-webkit-keyframes spriteanimation-grid-y {
    0% { background-position-y: 0%; }
    100% { background-position-y: -200%; }
}
@-moz-keyframes spriteanimation-grid-y {
    0% { background-position-y: 0%; }
    100% { background-position-y: -200%; }
}
@-ms-keyframes spriteanimation-grid-y {
    0% { background-position-y: 0%; }
    100% { background-position-y: -200%; }
}
@-o-keyframes spriteanimation-grid-y {
    0% { background-position-y: 0%; }
    100% { background-position-y: -200%; }
}
@keyframes spriteanimation-grid-y {
    0% { background-position-y: 0%; }
    100% { background-position-y: -200%; }
}

